<div class="content-home__left">
  <!-- content left top -->
  <div class="content-home__left__top-menu">
    <div class="content-home__top-menu__item">
      <span class="icon icon-house"></span>
      <span class="text">Trang chủ</span>
    </div>
    <div class="content-home__top-menu__item">
      <span class="icon icon-user"></span>
      <span class="text">Trang cá nhân</span>
    </div>
    <div class="content-home__top-menu__item">
      <span class="icon icon--search"></span>
      <span class="text">Khám phá</span>
    </div>
    <div class="content-home__top-menu__item">
     <span class="icon icon-bookmark"></span>
      <span class="text">Bài đăng đã lưu</span>
    </div>
    <div class="content-home__top-menu__item">
      <span class="icon icon-setting"></span>
      <span class="text">Cài đặt chung</span>
    </div>
  </div>

  <!-- content left middle -->
  <div class="content-home__left__topic">
      <h6 class="content-home__topic__title">Chủ đề</h6>
      <div class="content-home__topic__item">
          <img class="image-topic" src="https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg" alt="" />
          <span class="text">Tín ngưỡng</span>
      </div>
      <div class="content-home__topic__item">
          <img class="image-topic" src="https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg" alt="" />
          <span class="text">Máy tính / Internet</span>
      </div>
      <div class="content-home__topic__item">
          <img class="image-topic" src="https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg" alt="" />
          <span class="text">Thương mại điện tử</span>
      </div>
      <div class="content-home__topic__item">
          <img class="image-topic" src="https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg" alt="" />
          <span class="text">Thực phầm & nấu ăn</span>
      </div>
      <div class="content-home__topic__item">
          <img class="image-topic" src="https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg" alt="" />
          <span class="text">Ô tô và xe cộ</span>
      </div>
      <div class="load-more">
          <a class="link" href="">Xem thêm</a>
      </div>
  </div>

  <!-- content left trend -->
  <div class="content-home__left__trend">
      <h6 class="title">Xu hướng</h6>
      <div class="content-home__trend__item">
          <p>#Cafe buổi sáng</p>
      </div>
      <div class="content-home__trend__item">
          <p>#Cafe buổi sáng</p>
      </div>
      <div class="content-home__trend__item">
          <p>#Cafe buổi sáng</p>
      </div>
      <div class="content-home__trend__item">
          <p>#Cafe buổi sáng</p>
      </div>
      <div class="content-home__trend__item">
          <p>#Cafe buổi sáng</p>
      </div>
      <div class="load-more">
          <a class="link" href="">Xem thêm</a>
      </div>
  </div>
</div>