<div class="content-home__right">
  <h6 class="title">Làm gì tiếp theo</h6>
  <hr class="border-home-right">

  <!-- update info person -->
  <div class="content-home__right__update-info">
      <h6 class="title">Hoàn thành các bước để gợi ý nguồn dữ liệu</h6>
      <div class="update__info__person">
          <div class="update__info__person__item">
            <label for="checkedCheckbox" class="si si-checkbox">
              <input type="checkbox" id="checkedCheckbox" />
              <span class="si-label si-label__text">Cập nhật hồ sơ cá nhân</span>
            </label>
          </div>
          <div class="update__info__person__item">
            <label for="checkedCheckbox1" class="si si-checkbox">
              <input type="checkbox" id="checkedCheckbox1" />
              <span class="si-label si-label__text">Theo dõi ít nhất 5 chủ đề</span>
            </label>
          </div>
          <div class="update__info__person__item">
            <label for="checkedCheckbox2" class="si si-checkbox">
              <input type="checkbox" id="checkedCheckbox2" />
              <span class="si-label si-label__text">Kết bạn với những người bạn</span>
            </label>
          </div>
          <div class="update__info__person__item">
            <label for="checkedCheckbox3" class="si si-checkbox">
              <input type="checkbox" id="checkedCheckbox3" />
              <span class="si-label si-label__text">viết bài viết đầu tiên của bạn</span>
            </label>
          </div>
          <div class="update__info__person__item">
            <label for="checkedCheckbox4" class="si si-checkbox">
              <input type="checkbox" id="checkedCheckbox4" />
              <span class="si-label si-label__text">cổ động bằng cách like bài viết bạn</span>
            </label>
          </div>
          <div class="update__info__person__item">
            <label for="checkedCheckbox5" class="si si-checkbox">
              <input type="checkbox" id="checkedCheckbox5" />
              <span class="si-label si-label__text">Theo sau 10 người dùng bạn yêu thích</span>
            </label>
          </div>
      </div>
  </div>

  <!-- profile -->
  <div class="home-profile">
      <h6 class="title">Hồ sơ cá nhân</h6>
      <div class="home-profile__content">
          <div class="home-profile__item">
              <div class="home-profile__item__title">
                  <span class="icon icon--size icon-global"></span>
                  <span class="text">Giới thiệu:</span>
              </div>
              <div class="home-profile__item__content">
                Hành trình vạn dặm bắt đầu từ một bước chân.
              </div>
          </div>
          <div class="home-profile__item">
              <div class="home-profile__item__title">
                  <span class="icon icon--size icon-phone"></span>
                  <span class="text">Phone:</span>
              </div>
              <div class="home-profile__item__content">
                +91 23456 78910
              </div>
          </div>
          <div class="home-profile__item">
              <div class="home-profile__item__title">
                  <span class="icon icon--size icon-email"></span>
                  <span class="text">Email:</span>
              </div>
              <div class="home-profile__item__content">
                Nguyentrongvy264@gmail.com
                <!-- Hành trình vạn dặm bắt đầu từ một bước chân. -->
              </div>
          </div>
          <div class="home-profile__item">
              <div class="home-profile__item__title">
                  <span class="icon icon--size icon-localtion"></span>
                  <span class="text">Location:</span>
              </div>
              <div class="home-profile__item__content">
                USA
              </div>
          </div>
      </div>

      <div class="list-social">
          <i class="icon icon-facebook icon--size"></i>
          <i class="icon icon-google-plus icon--size"></i>
          <i class="icon icon-twitter icon--size"></i>
          <i class="icon icon-domain icon--size"></i>
      </div>
  </div>

  <!-- list user follow -->
  <div class="list-user-follow">
      <h6 class="title">Có thể bạn biết</h6>
      <div class="list-user-follow__content">
          <div class="list-user-follow__content__item">
              <div class="item__info">
                  <img class="image" src="https://icon-library.net/images/username-icon/username-icon-28.jpg" />
                  <div class="info__content">
                    <p>Rosa dodson</p>
                    <p>180 bạn bè</p>
                  </div>  
                  <div class="action">
                    <button><i class="icon-add-friend"></i>Kết bạn</button>
                  </div>
              </div>
          </div>
          <div class="list-user-follow__content__item">
              <div class="item__info">
                  <img class="image" src="https://icon-library.net/images/username-icon/username-icon-28.jpg" />
                  <div class="info__content">
                    <p>Rosa dodson</p>
                    <p>180 bạn bè</p>
                  </div>  
                  <div class="action">
                    <button><i class="icon-add-friend"></i>Kết bạn</button>
                  </div>
              </div>
          </div>
          <div class="list-user-follow__content__item">
              <div class="item__info">
                  <img class="image" src="https://icon-library.net/images/username-icon/username-icon-28.jpg" />
                  <div class="info__content">
                    <p>Rosa dodson</p>
                    <p>180 bạn bè</p>
                  </div>  
                  <div class="action">
                    <button><i class="icon-add-friend"></i>Kết bạn</button>
                  </div>
              </div>
          </div>
          <div class="list-user-follow__content__item">
              <div class="item__info">
                  <img class="image" src="https://icon-library.net/images/username-icon/username-icon-28.jpg" />
                  <div class="info__content">
                    <p>Rosa dodson</p>
                    <p>180 bạn bè</p>
                  </div>  
                  <div class="action">
                    <button><i class="icon-add-friend"></i>Kết bạn</button>
                  </div>
              </div>
          </div>
          <div class="list-user-follow__content__item">
              <div class="item__info">
                  <img class="image" src="https://icon-library.net/images/username-icon/username-icon-28.jpg" />
                  <div class="info__content">
                    <p>Rosa dodson</p>
                    <p>180 bạn bè</p>
                  </div>  
                  <div class="action">
                    <button><i class="icon-add-friend"></i>Kết bạn</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>