<div class="container list-book">
  <div class="form-group">
    <input type="text" 
    class="form-control" 
    id="exampleInputEmail1" 
    aria-describedby="emailHelp" 
    placeholder="Enter email"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="search1"
    />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <th scope="row">1</th>
        <td>{{ book.title }}</td>
        <td>{{ book.content }}</td>
        <td>{{ book.author }}</td>
      </tr>
    </tbody>
  </table>
</div>
