<div class="profile">
  <div class="profile__left">
      <div>
        Tao bai post
      </div>
  </div>

  <div class="profile__right">
      <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Link image</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="link image">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div>
              <button type="button" class="btn btn-primary">Lưu</button>
          </div>
        </form>
  </div>
</div>