<div id="list-post">
  <div class="list-post">
    <div *ngFor="let i of numbers" class="list-post__item">
      <div class="image">
        <img src="https://i.pinimg.com/originals/b2/fa/38/b2fa38a7c638e329281eaf81087fb7e4.jpg" />
      </div>
      <div class="content">
        If n is positive, n | 0 effectively rounds down. If n is negative,
        it effectively rounds up. To put it more accurately, this operation
        removes whatever comes after the decimal point, truncating a float to an integer.
      </div>

      <div class="action">
        <div class="like">
          <span>Like</span>
        </div>
        <div class="comment">
          <span>Bình luận</span>
        </div>
        <div class="share">
          <span>Chia sẻ</span>
        </div>
      </div>
    </div>
  </div>
</div>