<div class="profile">
    <div class="profile__left">
        <div>
          list post
        </div>
    </div>

    <div class="profile__right">
        <div class="profile__right__item">
            <div class="header">
                <div class="image">
                    <img width="30" height="30" src="https://avatars.servers.getgo.com/2205256774854474505_medium.jpg" />
                </div>
                <div>
                  <p>Nguyễn Trọng vỹ</p>
                  <p>1 giờ</p>
                </div>
              </div>
              <div>
                  Sau khi đặt chân đến Hà Lan tối ngày 17/9, Đoàn Văn Hậu tỏ ra bất ngờ với những chế độ đãi ngộ đặc biệt của đội bóng SC Heerenveen dành cho hậu vệ của đội tuyển Việt Nam.
              </div>
              <div>
                <img width="85%" height="400" src="https://q-cf.bstatic.com/images/hotel/max1024x768/140/140476276.jpg" />
              </div>
        </div>
    </div>
</div>